* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-image: url('/public/landscape-background-mountains-with-river-illustration.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
